<div class="container">
    <div [hidden] = "loggedIn">
        <mat-grid-list cols="6" [style.margin-top] = "'20px'">
            <mat-grid-tile [colspan] = "1"> </mat-grid-tile>
            <mat-grid-tile [colspan] = "4">

                <form class="form container" (ngSubmit) = "onSubmit()">
                    <mat-form-field class="full-width">
                        <input matInput type="text" 
                        [(ngModel)] = "credentials.username" 
                        name="username"
                        id="username" 
                        placeholder="Your username">
                    </mat-form-field>


                    <mat-form-field class="full-width">
                            <input matInput type="password" 
                            [(ngModel)] = "credentials.password" 
                            name="password"
                            id="password" 
                            placeholder="Your password">
                        </mat-form-field>

                        <button type="submit" mat-raised-button class="mat-primary">Login</button>
                </form>

        

            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>